html{
    background-image: url(../img/appE.jpg);
    background-size: cover;
    background-repeat: repeat;
    text-align: center;
    margin-top: 15%;
}
body{
    background: linear-gradient(#cbadcfad, #ffffffad);
 font-family: Georgia, 'Times New Roman', Times, serif;
 border-radius: 3vw;
}
.container{
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

h1{
    color: #422444be;
    font-size: 3.5vw;
}
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button, .button:hover {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #a14fd185;
  background: linear-gradient(90deg, rgba(185, 129, 230, 0.6rgba(161, 79, 209, 0.671)9, 209) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(157, 79, 209, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before,button:hover::before, button:focus::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #8c00ff7a;
    box-shadow: 0 0 60px rgba(153, 0, 255, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }

  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #9900ffa9;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  

  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }